.end-game {
  z-index: 5;
  height: 100%;
  background-color: #303030;
  border: 1px solid #444;
  border-radius: 0.25rem;
}

.hidden {
  display: none;
}

.end-game h1 {
  font-size: 2.3rem;
}

.btn-end-game {
  width: 100%;
  height: 50px;
  margin: 25px 0;
  background-color: #00bc8c;
  border: 1px solid #444;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1.3rem;
}

.btn-end-game, .btn-end-game:focus {
  outline: none;
}

.btn-end-game:hover {
  background-color: #0a795d;
  border: 1px solid rgb(104, 100, 100);
}