.bird-list {
  width: 100%;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.bird-list-item {
  padding: .85rem 1.25rem;
  background-color: #303030;
  border: 1px solid #555;
  text-align: initial;
  cursor: pointer;
}

.bird-list-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.bird-list-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.bird-list-item:hover {
  background-color: #444;
}

.li-btn {
  display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    -webkit-transition: .1s;
    transition: .1s;
    background-color: #444;
}