.bird-answer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.bird-option {
  width: 47%;
}

.bird-description {
  width: 47%;
  background-color: #303030;
  border: 1px solid #444;
  border-radius: 0.25rem;
}

.btn {
  width: 100%;
  margin: 25px 0;
  background-color: #303030;
  border: 1px solid #444;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
}

.btn, .btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #464444;
  border: 1px solid rgb(104, 100, 100);
}



@media (max-width: 768px) {

  .bird-option {
    width: 100%;
    margin-bottom: 25px;
  }

  .bird-description {
    width: 100%;
  }
}