.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}

.page-item {
  flex: auto;
  text-align: center;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: 0;
  line-height: 1.25;
  color: #fff;
  background-color: #13775e;
  border: 0 solid transparent;
}

.active-nav {
  background-color: #00bc8c;
}