.random-bird {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 25px;
  background-color: #303030;
  border: 1px solid #444;
  border-radius: 0.25rem;
}